.tableImage {
    padding: 10px;
    height: 100px;
    width: 100px;
}

.container>.btn {
    margin: 10px 0;
}

td {
    max-width: 120px;
    max-height: 120px;
    overflow: hidden;
    min-height: 120px;
    align-items: center;
    text-align: center;
}

.table-responsive {
    height: 80vh;
    overflow-y: scroll;
}

.table-wrapper {
    max-height: 80vh;
    overflow-y: auto;
    top: 0;
}

.table thead {
    position: sticky;
    top: 0;
    background: #212529;
    color: white;
    z-index: 10;
}